<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:heading {"level":1,"metadata":{"patternName":"emilias-theme/hidden-blog-heading","name":"Hidden blog heading","description":"Hidden heading for the home page and index template."},"style":{"typography":{"textAlign":"left"}}} -->
<h1 class="wp-block-heading has-text-align-left"></h1>
<!-- /wp:heading -->

<!-- wp:pattern {"slug":"emilias-theme/template-query-loop-masonry"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
